@import 

    url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

*
{
  font-family: "Roboto"  ;
}
body
{
  background-color: #f9f9f9;
  margin-bottom: 0px;
}
section
{
    position: absolute;
    top: 100px;
    z-index: 2;

}


header
{
    margin-top: 0px;

    background-color: #00bcd4;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-align: left;
  font-size: 30px;
}


body section
{
  text-align: left;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 23px;
    margin-right: 190px;
    margin-bottom: 20px;
}
.partage
{
    text-align: center;
    font-size:  19px;
}
#titreArticle
{
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   width: 50%;
   min-width: 400px;
   text-align: center;
   padding: 2px;
   color: #e91e63;
   margin: auto;
   margin-top: 5px;
   background-color: #F5F5F5;
}


#titreSite
{
  color: white;
  font-size: 16;
    margin-left: 100px
}
.downloadButon
{
  text-align: center;
  margin: auto;
}
body a
{
  color: black;
  text-decoration: none;
}
footer
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 4px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}
footer, footer a
{
  background-color: #00bcd4;
  text-align: center;
  color: white;
  
}
footer a:hover
{
  text-decoration: underline;
    color: #e91e63;
}

#contactIconPage
{
  text-align: center;
}

section a:hover
{
  color: #E040FB;
}


/*Image Article */
article div img
{
    width: 80%;
}

h2 + div
{
    padding-top: 15px;
    display: inline-block;
    text-align: center;
}



/*Header + Nav */

.contener
{
  top: 0px;
  width:100%;
}
.volet_4
{
  background-color: #00bcd4;
}
.volet_1, .volet_2, .volet_3, .volet_4
{
  position: absolute;
  height: 200px;
  width: 100%;
  top: -140px;
  box-shadow:1px 1px 16px #333333;
  -webkit-transition:all 0.3s ease-in;
  -moz-transition:all 0.3s ease-in;
  -ms-transition:all 0.3s ease-in;
  transition:all 0.3s ease-in;
    
}
.contener:hover .volet_1
{
  top: 80px;
  background-color: #ffffff;
  -webkit-transform:scale(0.85);
  -moz-transform:scale(0.85);
  -ms-transform:scale(0.85);
  transform:scale(0.85);
}
.contener:hover .volet_2
{
  top: 10px;
  background-color: #ffffff;
  -webkit-transform:scale(0.90);
  -moz-transform:scale(0.90);
  -ms-transform:scale(0.90);
  transform:scale(0.90);
}
.contener:hover .volet_3
{
  top: -60px;
  background-color: #ffffff;
  -webkit-transform:scale(0.95);
  -moz-transform:scale(0.95);
  -ms-transform:scale(0.95);
  transform:scale(0.95);
}
.menu_btn
{
  cursor: pointer;
  margin-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.material_txt
{
  line-height: 60px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 10px;
  text-align:left;
}
.material_txt_deploy
{
  line-height: 30px;
  color: #e91e63;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 20px;
  text-align:left;
}

.github
{
    width: 60px;
    height: auto;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 8px;
    z-index: 5;
    
    
}


/* Partage */

.partage
{
    
}